<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= product.name.toUpperCase() %>
    </title>
</head>

<body>
    <h1>
        <%= product.name %> - <%= product.price %>
    </h1>
    <a href="/product?category=<%=product.category%>">
        <%=product.category%>
    </a>

    <div>
        <a href="/product/<%=product._id%>/edit">Update</a>
        <form action="/product/<%=product._id%>?_method=DELETE" method="post">
            <button>Delete</button>
        </form>
    </div>

    <a href="/product">Back to All Products</a>

</body>

</html>